<h1><%= @single_user.username %></h1>


<dl>
<dt>ID</dt>
<dd><%= @single_user.id %></dd>

<dt>Edit user</dt>
<dd>
<form action="/update_user">
<label for="browser_username">Username</label>
<input id="browser_username" type="text" name="query_username" placeholder="<%= @single_user.username %>" value="<%= @single_user.username %>">

<label for="browser_user_id">User ID</label>
<input id="browser_user_id" type="text" name="query_id" placeholder="<%= @single_user.id %>" value="<%= @single_user.id %>">

<button type="submit">Update user</button>
</form>
</dd>

</dl>


<h2>Own photos (<%= @single_user.own_photos.count %>)</h2>


<table border ="1">
<tbody>
<tr>
<th>Image</th>
<th>Owner</th>
<th>Caption</th>
<th>Posted</th>
<th></th>
</tr>

<% @single_user.own_photos.each do |a_photo|%>
<tr>
<td><img src="<%= a_photo.image %>"></td>
<td>

<%= a_photo.poster.username %>
</td>
<td><%= a_photo.caption %></td>
<td><%= a_photo.created_at %></td>
<td><a href="/photos/<%= a_photo.id %>">Show details</a></td>
</tr>

<% end %>
</tbody>


</table>
